<h2>Your team is {{ team.name }} with id {{ team.id }}</h2>

<div style="width: 700px; margin-top: 30px; margin-left: 100px;">

    <div class="text-danger" *ngIf="errorMessage"><h5>{{ errorMessage }}</h5></div>
    
    <table class="table table-striped table-bordered" style="margin-top: 20px;">
        <caption>Your teammates</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col" style="min-width: 50px;">#</th>
                <th scope="col"> Username</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let member of members; let i = index" [ngClass]="{ 'table-primary': isSelected(member) }" (click)="toggleSelection(member)">
              <th scope="row">{{ getDisplayNumber(i) }}</th>
              <td>{{ member.username }}</td>
              <td>{{ member.firstName }}</td>
              <td>{{ member.lastName }}</td>
              <td>{{ member.email }}</td>
              <td style="text-align: center;"><button *ngIf="canReview(member)" (click)="goToUserStat(member.username)" class="btn btn-info">Info</button></td>
            </tr>
          </tbody>
    </table>

    <app-add-days-section></app-add-days-section>
</div>