<div style="width: 700px; margin-top: 30px; margin-left: 100px;">
    
    <table class="table table-striped table-bordered" style="margin-top: 20px;">
        <caption>Stats for {{ user }}</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Worked</th>
                <th scope="col">Paid</th>
                <th scope="col">Salary for 1 day</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>{{ stat.id }}</td>
              <td>{{ stat.daysWorked }}</td>
              <td>{{ stat.daysPaid }}</td>
              <td>{{ stat.salary }} &#8372;</td>
            </tr>
          </tbody>
    </table>

    <div class="input-group mb-3" *ngIf="userIsChief()">
        <span class="input-group-text">Set Salary:</span>
        <input type="number" class="form-control" name="newSalary" [(ngModel)]="newSalaryDto.newSalary" placeholder="Enter salary">
        <button class="btn btn-primary" (click)="setSalary()">Set</button>
    </div>
</div>